{% extends 'template.html.twig' %}
{% block body %}

    {% block content %}
        {% block menu %}
            <section class="pageTitleSection">
                <div class="container">
                    <div class="pageTitleInfo">
                        <h2>Education</h2>
                        <ol class="breadcrumb">
                            <li><a href="index-2.html">Accueil</a></li>
                            <li class="active">Mon espace</li>
                        </ol>
                    </div>
                </div>
            </section>
        {% endblock  %}
<br>
<br>
<div class="container"  style="margin:auto ">

    <div class="row">
        <div class="col-xs-12" >
            <div class="tabCommon">
                <div class="tab-content" style="width: 1200px; margin-right: 10px">
                    <div id="leftHome" class="tab-pane fade in active" style="margin-right: 10px">
                        <div class="media">
                            <div class="container" >
                                <div class="sectionTitle text-center" style="font-size: small">

                                    <h2>

                                        <span class="shape shape-left bg-color-4"></span>
                                        <span >     <a >Ajouter livre</a></span>
                                        <span class="shape shape-right bg-color-4"></span>
                                    </h2>
                                </div>

                                <section class="mainContent full-width clearfix">
                                    <div class="container">


                                        {{ form_start(f) }}
                                        <div class="form-group formField">
                                            {{ form_widget(f.file, { 'attr': {'class': "form-control",
                                                'placeholder': "VOTRE_NOM"|trans} }) }}
                                        </div>


                                        <div class="form-group formField">
                                            {{ form_widget(f.nomauteur, { 'attr': {'class': "form-control",
                                                'placeholder': "NOM"|trans} }) }}
                                        </div>
                                        <div class="form-group formField">
                                            {{ form_widget(f.description, { 'attr': {'class': "form-control",
                                                'placeholder': "DESCRIPTION"|trans} }) }}
                                        </div>
                                        <div class="form-group formField">
                                            {{ form_widget(f.prix, { 'attr': {'class': "form-control",
                                                'placeholder': "PRIX"|trans} }) }}
                                        </div>
                                        <div class="form-group formField">
                                            {{ form_widget(f.save, { 'attr': {'class': "btn btn-primary btn-block bg-color-3 border-color-3",
                                                'placeholder': "VOTRE_NUM TEL"|trans} }) }}
                                        </div>


                                        {{ form_end(f) }}
                                    </div>
                                </section>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <br>
        <br>
    {% endblock %}
    {% block script1 %}
        {{ parent() }}
    {% endblock %}



{% endblock %}
