{% extends 'admin.html.twig' %}

{% block body %}
<html>
<head>

    <title>Rechercher des Recettes</title>
</head>
<body>
<div class="main-panel">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Espace Administration des loisirs</h4>
                            <p class="category">Rechercher des Recettes</p>
                        </div>
                        <div class="card-content table-responsive">

                        <form action="" method="post" >
            <label>Nom</label><br><input type="text" name="nom" />
            <input type="Submit" name="rechercher" value="Rechercher"/>
        </form>
                            <table class="table">
                                <thead class="text-primary">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Personnes</th>
                                <th>Ingredients</th>
                                <th>Images</th>
                                <th>Suppression</th>
                                <th>Modification</th>
                                </thead>

                                {% for m in recette  %}

                                    <tbody>
                                    <tr>
                                        <td>{{ m.Id }}</td>
                                        <td>{{ m.nom }}</td>
                                        <td>{{ m.nbrpersonnes }}</td>
                                        <td>{{ m.ingredients }}</td>
                                        <td><img src="{{ asset('uploads/images/') }}{{ m.nomImage }}" style = "width: 200px;height:200px"></td>

                                        <td><a href="{{ path('_supp_recette',{'id':m.Id}) }}">delete here</a> </td>
                                        <td><a href="{{ path('_modif_recette',{'id':m.Id}) }}">update here</a> </td>

                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>



</div>

</body>
</html>
{% endblock %}
