{% block title %} {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}
{% block content %}

    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover">

                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <h4> {{ us.prenom }} {{ us.nom }} </h4>
                                <p class="text-muted">@{{ us.username }}</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">

                                <li><a href="{{ path('liste_abonnee') }}">Abonneés/Abonnements</a></li>

                            </ul>
                            <ul class="follow-me list-inline">
                                <li>Hexagon-IT<i>
                                <li>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->

                <!--Timeline Menu for Small Screens-->

                <div class="navbar-mobile hidden-lg hidden-md">
                    <div class="profile-info">

                        <p class="text-muted">@{{ us.username }}</p>
                    </div>
                    <div class="mobile-menu">
                        <ul class="list-inline">
                            <li><a href="timeline-about.html">A propos</a></li>
                            <li><a href="{{ path('liste_abonnee') }}">Abonneés/Abonnements</a></li>

                        </ul>

                    </div>
                </div><!--Timeline Menu for Small Screens End-->

            </div>
            <div id="page-contents">
                <div class="row">+
                    <div class="col-md-3"></div>
                    <div class="col-md-7">

                        <!-- Post Create Box
                        ================================================= -->
                        <br><br><br><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
