{% extends 'template.html.twig' %}
{% block body %}
<html>
<head>
   <link rel="script" href="{{ asset('gmaps/gmaps.js') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('examples.css') }}" />
    <title>profile</title>
</head>
<body>
<div class="container">
    <header>
        <span align="center"> <h1>Baby Sitter </h1></span>

    </header>
    <div  class="form">
        <fieldset style="width: 20%">
            <legend>Modifier vos donnee</legend><br>

            <form action="" method="post" >
                {{ form_start(f) }}
                <p class="contact"><label>Nom</label></p><br>{{ form_widget(f.nom) }}<br>
                <p class="contact"><label>Prenom</label></p><br>{{ form_widget(f.prenom) }}<br>
                <p class="contact"><label>Description Cv</label></p><br>{{ form_widget(f.descriptionCv) }}<br>
                <p class="contact"><label>lat</label></p><br>{{ form_widget(f.lat) }}<br>
                <p class="contact"><label>lng</label></p><br>{{ form_widget(f.lag) }}<br>
                <p class="contact"><label>ville</label></p><br>{{ form_widget(f.ville) }}<br>
                <p class="contact"><label>salaire par heure</label></p><br>{{ form_widget(f.salaire) }}<br>
                <p class="contact"><label>recaptcha</label></p><br>{{ form_widget(f.recaptcha) }}<br>
                <br>{{ form_widget(f.Modifier) }}<br>
                <br>{{ form_end(f) }}



            </form>

        </fieldset>

    </div>
    <div class="row">
        <div class="span11">
            <div id="map"></div>
            <script>
                var map;
                var markers = [];
                var latt = document.getElementById("babysitter_lat").value ;
                var lngg= document.getElementById("babysitter_lag").value;
                var marker;
                function initMap() {
                    var lat_lng = {lat: 35.08672, lng: 10};
                    var mardker = {lat: parseFloat(latt), lng: parseFloat(lngg)};
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6,
                        center: lat_lng,
                        mapTypeId: google.maps.MapTypeId.TERRAIN
                    });

                    marker = new google.maps.Marker({
                        position: mardker,
                        map: map
                    });
                    markers.push(marker);
                    map.addListener('click', function(event) {
                        addMarker(event.latLng);

                    });
                }
                function addMarker(location) {
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                    DeleteMarkers();
                    markers.push(marker);
                    document.getElementById('babysitter_lat').value = location.lat();
                    document.getElementById('babysitter_lag').value = location.lng();
                }
                function DeleteMarkers() {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    markers = [];
                }
            </script>

            <script async defer src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyAuFusBAC3vYNl0ye8bXOk0nGhGUo109qE&callback=initMap') }}">
            </script>
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}