{% extends 'template.html.twig' %}
{% block body %}

    <div id="page-contents">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                {% if bs|length < 1 %}

                    <div class="people-nearby">
                        <div class="nearby-user">
                            <div class="row">
                                <h1>Aucun résultat pour votre recherche.</h1>
                                </div>           </div>           </div>
                {% else %}

                    {% for m in bs %}

                        <div class="people-nearby">

                            <div class="nearby-user">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">

                                        <img src="{{ asset(vich_uploader_asset(m, 'imageFile')) }}" alt="user" class="profile-photo-lg" />
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h5><a href="{{ path('consulterbs', {'id': m.id}) }}" class="profile-link"> {{ m.prenom }} {{ m.nom }} </a></h5>
                                        <p>{{ m.username }}</p>
                                        <p class="text-muted">{{ m.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>


    {% block js %}

        <script src="{{ asset('Public/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('Public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('Public/js/jquery.appear.min.js') }}"></script>
        <script src="{{ asset('Public/js/jquery.incremental-counter.js') }}"></script>
        <script src="{{ asset('Public/js/script.js') }}"></script>
        <script src="{{ asset('Public/css/jquery.scrollbar.css') }}"></script>
        <script src="{{ asset('Public/js/jquery.sticky-kit.min.js') }}"></script>

    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('Public/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('Public/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('Public/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('Public/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('Public/css/font-awesome.min.css') }} " rel="stylesheet" type="text/css" media="all"/>

        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>

    {% endblock %}
{% endblock %}