<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/stylecss.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/demo1.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/drop.css')}}" >
    <title>Accueil</title>
</head>
<body>

<div class="container">
    <header>
        <h1><span align="center">All For Kids</span></h1><br>
        <span align="center"> <h1>Espace Administration des loisirs </h1></span>

    </header>


    <a href="{{ path('_ajout_blague')}}" class="button">Ajouter une blague</a><br>
    <a href="{{ path('_affiche_blague')}}" class="button orange">Gestion des blagues</a><br>
    <a href="{{ path('_ajout_bonplan')}}"class="button turquoise">Ajouter un bon plan</a><br>
    <a href="{{ path('_affiche_bonplan')}}"class="button green">Gestion des bons plans</a><br>
</div>


</body>
</body>
</html>



