{% extends 'template.html.twig' %}
{% block body %}

    {% block content %}
        {% block menu_sante %}
            <section class="pageTitleSection">
                <div class="container">
                    <div class="pageTitleInfo">
                        <h2>Santé</h2>
                        <ol class="breadcrumb">
                            <li><a href="index-2.html">Accueil</a></li>
                            <li class="active">Articles</li>
                        </ol>
                    </div>
                </div>
            </section>
        {% endblock  %}
        <br>
        <br>
        <div class="container"  style="margin:auto ">

            <div class="row">
                <div class="col-xs-12" >
                    <div class="tabCommon">

                        <div class="sectionTitle text-center" style="font-size: small">

                            <h2>

                                <span class="shape shape-left bg-color-4"></span>
                                <span> Article
                                               </span>
                                <span class="shape shape-right bg-color-4"></span>
                            </h2>
                        </div>
                        <div class="col-xs-12 block">
                            {% for m in m %}
                                <div class="thumbnail thumbnailContent">
                                    <img class="media-object" src="{{ asset('articles/' ~ m.image) }}" alt="Image">
                                    <span class="sticker-round bg-color-1">{{ m.datepublication|date("d")}}<br>{{ m.datepublication|date("M")}}</span>
                                    <div class="caption border-color-1 singleBlog">
                                        <h3 class="color-1">  {{ m.titre }}</h3>
                                        <ul class="list-inline blogInfo">
                                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ m.sujet }}</li>
                                        </ul>
                                        <p>
                                            {{ m.body|raw}}
                                        </p>


                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                                            {% if  app.user.id != m.idauteur %}



                                                        <table id="like">
                                                            <tr><td><a id="likernull" style="color: #2e9ad0; align-content: inherit;font-weight: bold;"> <img  src="{{ asset('like2.png') }}" style="width: 50px;height: 50px">Like</a></td>
                                                            </tr> </table>

                                                    {#{% elseif etat.likeetat == 0 %}
                                                    <a id="liker"  style="color: #2e9ad0; align-content: inherit;font-weight: bold;">
                                                        <table>
                                                            <tr><td><div id="amal1"><img src="{{ asset('like2.png') }}" style="width: 50px;height: 50px">Like</div></td>
                                                            </tr> </table>
                                                    </a>
#}


                                                        <table id="unlikertab" hidden>

                                                            <tr><td><a id="unliker" >  <img  src="{{ asset('liked.png') }}" style="width: 50px;height: 50px">Unlike</a></td>
                                                            </tr> </table>



                                            {% else %}
                                                <div class="product-meta">
                                                    <div class="product-category">
                                                        <ul class="nav nav-tabs">

                                                            <li class="active"><a href="{{ path('modifierarricle',{'idarticle':m.idarticle,'id':app.user.id}) }}">Modifier cet article</a></li>
                                                            <li class="active"><a href="{{ path('supprimerarticle',{'idarticle':m.idarticle,'id':app.user.id}) }}">Suprimer cet article</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <script src="{{ asset ('jquery-3.2.1.min.js') }}"></script>
                                        <script>
                                            function likernull(idarticle,id) {
                                                $.ajax({
                                                    url: "http://localhost/pidev/web/app_dev.php/sante/likernull/"+idarticle+"/"+id,
                                                    success: function(result){
                                                        $("#unlikertab").show();
                                                        $("#like").hide();
                                                        alert('ok');
                                                    }}
                                                );
                                            }
                                            $("#likernull").click(function(){
                                                likernull({{ m.idarticle }},{{ app.user.id }})
                                            });

                                            function unlike(idarticle,id) {
                                                $.ajax({
                                                    url: "http://localhost/pidev/web/app_dev.php/sante/unliker/"+idarticle+"/"+id,
                                                    success: function(result){
                                                        $("#like").show();
                                                        $("#unlikertab").hide();
                                                        alert('amal');
                                                    }}
                                                );
                                            }
                                            $("#unliker").click(function(){
                                                unlike({{ m.idarticle }},{{ app.user.id }})
                                            });


                                        </script>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    {% endblock %}
    {% block script1 %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

