{% extends 'admin.html.twig' %}

{% block body %}
<html>
<head>
    <title>Ajout Conseil</title>
</head>
<body>
<div class="main-panel">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Espace Administration des loisirs</h4>
                            <p class="category">Ajouter un conseil</p>
                        </div>
                        <div class="card-content table-responsive">
                        {{ form_start(f) }}
        <label>Titre</label><br>
    {{ form_widget(f.titre) }}<br>
        <label>Contenu</label><br>
        {{ form_widget(f.contenu) }}<br>

        <br>{{ form_widget(f.Accepter) }}<br>
    {{ form_end(f) }}<br>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>



</div>


</body>
</html>

{% endblock %}